# Git
.git
.gitignore

# CI
.github

# Docker
docker-compose.yml
.docker

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.env/
.venv/
venv/

# PyCharm
.vscode

.ipynb_checkpoints
.mypy_cache

dbt-search-app/node_modules
dbt-search-app/cache
dbt-search-app/dist
